:root {
    --base-color: 195, 42
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: rgb(var(--base-color), 255);
    color: white;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}


.nav-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: rgb(var(--base-color), 255);
}

.content1{
    display: inline-block;
    color: rgb(var(--base-color), 255);
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 5rem;
    width: 90%;
    margin-top: 3rem;
    border-radius: 10px;
    transition: color 1s ease, background-color 1s ease, transform 1s ease;
}

.content2{
    display: inline-block;
    color: rgb(var(--base-color), 255);
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 5rem;
    width: 90%;
    margin-top: 3rem;
    border-radius: 10px;
    transition: color 1s ease, background-color 1s ease, transform 1s ease;
}

nav div{
    display: inline-block;
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-left: 1rem;
    box-shadow: 0px 2px 5px grey;
    border-radius: 5%;
    transition: box-shadow 1s ease, background-color 0.5s ease, color 0.2s ease, transform 0.5s ease;
}

.content1:hover {
    color: white;
    background-color: rgb(var(--base-color), 255);
    transform: scale(1.0125) translate(0px, -5%);
    transition: color 1s ease, background-color 1s ease, transform 1s ease;
}

.content2:hover {
    color: white;
    background-color: rgb(var(--base-color), 255);
    transform: scale(1.0125) translate(0px, -5%);
    transition: color 1s ease, background-color 1s ease, transform 1s ease;
}

nav div:hover{
    box-shadow: 2px 6px 5px darkgray;
    background-color: rgb(var(--base-color), 255);
    color: white;
    transform: scale(1.2) translate(0px, -12%);
    transition: box-shadow 0.8s ease, background-color 0.5s ease, color 0.2s ease, transform 0.5s ease;
}



footer p{
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    margin-top: 20rem;
    width: 100%;
    padding: 14px;
    color: rgb(var(--base-color), 255);
    border-top: solid rgb(var(--base-color), 255);
}

